@import "src/styles/colors";
@import "src/styles/mixins";

.header {
  color: $black;
  font-family: "YS Text";
  font-style: normal;
  font-weight: 500;
}

.header-1 {
  font-size: 62px;
  line-height: 74px;

  @include for-phone {
    font-size: 32px;
    line-height: 38px;
  }
}

.header-2 {
  font-size: 48px;
  line-height: 58px;

  @include for-phone {
    font-size: 30px;
    line-height: 36px;
  }
}

.header-3 {
  font-size: 40px;
  line-height: 48px;

  @include for-phone {
    font-size: 24px;
    line-height: 31px;
  }
}

.header-4 {
  font-size: 32px;
  line-height: 42px;

  @include for-phone {
    font-size: 18px;
    line-height: 23px;
  }
}
