@import "src/styles/colors";
@import "src/styles/mixins";

.text {
  color: $black;
  font-family: "YS Text";
  font-style: normal;
  font-weight: 400;
}

.text-l {
  font-size: 24px;
  line-height: 31px;

  @include for-phone {
    font-size: 16px;
    line-height: 21px;
  }
}

.text-s {
  font-size: 18px;
  line-height: 23px;

  @include for-phone {
    font-size: 16px;
    line-height: 21px;
  }
}

.text-supportive {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-supportive-s {
  font-family: "YS Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
