@import "src/styles/colors";
@import "src/styles/mixins";

.footerBlock {
  display: grid;
  padding: 60px 0;
  grid-template-columns: 488px 1fr max-content;
  grid-template-rows: min-content min-content;
  align-items: center;

  ul {
    list-style: none;
  }

  .call {
    grid-column-start: 1;
    grid-row-start: 1;

    .logo {
      font-size: 0;
      svg {
        width: 163px;
        height: 28px;
      }
    }

    .phone {
      font-weight: 500;
      font-size: 26px;
      line-height: 34px;
      margin-top: 24px;
    }

    .free {
      margin-top: 8px;
    }
  }

  .journal {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 24px;
    display: grid;
    gap: 16px;

    .head {
      line-height: 22px;
    }

    .row {
      display: grid;
      grid-auto-flow: column;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
    }
  }

  .aboutUs, .joinUs {
    height: 258px;

    .list {
      display: grid;
      gap: 8px;
      margin-top: 24px;

      a {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
      }
    }
  }

  .aboutUs {
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: flex-end;
    margin-right: 120px;
  }

  .joinUs {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .text_gray {
    color: rgba(0, 0, 0, .5);
  }
}
