.card-header {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  color: #151617;
  line-height: 130%;
}

.card-header-l {
  font-size: 32px;
  line-height: 42px;
}

.card-header-s {
  font-size: 26px;
  line-height: 34px;
}
