@import "src/styles/colors";
@import "src/styles/mixins";

.field {
  display: block;
  position: relative;
  padding: 11px 0;
  height: 86px;

  .placeholder {
    position: absolute;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    transition: all .3s;
    top: 24px;
    left: 0;
    color: $grey;
    cursor: text;
    pointer-events: none;

    @include for-phone {
      top: 28px;
      font-size: 16px;
      line-height: 21px;
    }
  }

  .input {
    margin-top: 4px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $grey;
    outline: none;
    background: transparent;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    padding: 10px 0;
    appearance: none;
    @include for-phone {
      font-size: 16px;
      line-height: 21px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 34px;
    width: 24px;
    height: 24px;
    background: url("../../assets/images/chevron-down.svg");
    pointer-events: none;

    @include for-phone {
      top: 26px;
    }
  }
}

.field__empty {
  select {
   color: transparent;
  }

  option {
    color: black;
  }
}

.field:not(.field__empty) {
  .placeholder {
    top: 0;
    font-size: 18px;
    line-height: 23px;
    @include for-phone {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.field__focused {
  .placeholder {
    top: 0;
    font-size: 18px;
    line-height: 23px;
    @include for-phone {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
