@import "src/styles/colors";
@import "src/styles/mixins";

.field {
  position: relative;
  display: block;
  height: 86px;
  padding: 11px 0;

  @include for-phone {
    height: 80px;
  }

  .placeholder {
    position: absolute;
    top: 24px;
    left: 0;
    color: $grey;
    cursor: text;
    font-family: "YS Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    pointer-events: none;
    transition: all 0.3s;

    @include for-phone {
      top: 28px;
      font-size: 16px;
      line-height: 21px;
    }
  }

  .input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid $grey;
    margin-top: 4px;
    background: transparent;
    font-family: "YS Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    outline: none;

    @include for-phone {
      font-size: 16px;
      line-height: 21px;
    }

    &:not(:placeholder-shown) ~ .placeholder {
      top: 0;
      font-size: 18px;
      line-height: 23px;

      @include for-phone {
        font-size: 14px;
        line-height: 18px;
      }
    }

    &:focus ~ .placeholder {
      top: 0;
      font-size: 18px;
      line-height: 23px;

      @include for-phone {
        font-size: 14px;
        line-height: 18px;
      }
    }

    &::placeholder {
      color: transparent;
    }
  }
}
