@import "src/styles/mixins";

.responseToJobForm {
  display: grid;
  gap: 20px;

  @include for-phone {
    gap: 0;
  }

  .agreement {
    display: grid;
    align-items: center;
    padding: 22px 24px;
    cursor: pointer;
    gap: 24px;
    grid-auto-flow: column;

    @include for-phone {
      padding: 0;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    input {
      width: 24px;
      height: 24px;
      outline: none;
    }
  }

  .button {
    display: flex;
    width: 285px;
    justify-content: center;
    justify-self: center;

    @include for-phone {
      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }
  }
}
