@import "src/styles/colors";
@import "src/styles/mixins";

.modalPageContent {
  &__body {
    min-height: max(100vh, 100%);
    padding: 80px 0;
    background: $background;

    @include for-phone {
      padding: 40px 0 0;
    }
  }

  &__close {
    display: flex;
    justify-content: flex-end;

    @include for-phone {
      svg {
        height: 32px;
      }
    }
  }

  &__backdrop {
    position: relative;
    height: max(100vh, 100%);
    background: rgb(0 0 0 / 90%);
    color: white;
    cursor: pointer;
    font-size: 24px;
    opacity: calc(1 - var(--intersection-ratio));
  }

  &__backdropText {
    position: absolute;
    top: calc(100vh / 2 * var(--intersection-ratio));
    left: 50%;
    transform: translateX(-50%);
    transition-timing-function: ease-in-out;

    @include for-phone {
      font-size: 14px;
    }
  }
}
