@import "src/styles/colors";
@import "src/styles/mixins";

.directionCard {
  height: 294px;
  padding: 32px 40px;

  @include for-phone {
    position: sticky;
    top: 150px;
    height: auto;
    padding: 32px 16px;
  }

  &__front,
  &__back {
    flex-direction: column;
  }

  &__front {
    display: flex;
    height: 100%;
  }

  &__back {
    display: none;
    height: 100%;
  }

  &__header {
    padding: 12px 0;

    @include for-phone {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }
  }

  &__imageWrapper {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;

    @include for-phone {

    }
  }

  &__shortDescription {
    flex: 1;
    color: $grey;

    @include for-phone {
      margin-top: 12px;
      margin-bottom: 20px;
    }
  }

  &__goToFullDescription {
    align-self: center;

    @include for-phone {
      height: 100%;
    }
  }
}

.directionCard.withImage {
  &:hover {
    .directionCard__front {
      display: none;
    }

    .directionCard__back {
      display: flex;
    }
  }
}
