@import "src/styles/colors";
@import "src/styles/mixins";

.bigCard {
  position: relative;
  overflow: hidden;
  max-width: calc(var(--max-content-width) - 40px);
  height: 473px;

  @include for-phone {
    display: grid;
    height: auto;
    min-height: 413px;
    padding: 16px;
    grid-template-rows: max-content 1fr max-content;
  }

  &__header {
    width: 356px;

    @include for-phone {
      width: calc(var(--max-content-width) - 96px);
    }
  }

  &__text {
    width: 356px;
    margin-top: 24px;
    color: $grey;

    @include for-phone {
      width: calc(var(--max-content-width) - 96px);
      margin-top: 24px;
    }
  }

  &__image {
    font-size: 0;

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      transition: all 0.3s ease;

      @include for-phone {
        position: initial;
        width: calc(var(--max-content-width) - 40px);
        height: auto;
        margin: -16px;
      }
    }
  }

  &:hover {
    img {
      right: -60px;
    }
  }
}
