@import "src/styles/colors";

.bigCard {
  position: relative;
  height: 473px;
  overflow: hidden;

  &__header {
    width: 356px;
  }

  &__text {
    margin-top: 24px;
    width: 356px;
    color: $grey;
  }

  &__image {
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      transition: all .3s ease;
    }
  }

  &:hover {
    img {
      right: -60px;
    }
  }
}
