// Basic
$black: #000;
$grey: #858585;
$background: #f7f7f8;
$white: #fff;

// Additional
$yellow: #fcd559;
$light-blue: #aaccf1;
$blue: #5686e3;
$orange: #ec722d;

// System
$light-grey: #eaeaea;
$red: #ed4141;
