$font-header-font-family: "YS Text", serif;
$font-header-font-weight: 500;
$font-header-font-style: normal;
$font-header-1-font-size: 62px;
$font-header-1-line-height: 74px;
$font-header-2-font-size: 48px;
$font-header-2-line-height: 58px;
$font-header-3-font-size: 40px;
$font-header-3-line-height: 48px;
$font-header-4-font-size: 32px;
$font-header-4-line-height: 42px;
$font-card-header-l-font-size: 32px;
$font-card-header-l-line-height: 42px;
$font-card-header-s-font-size: 26px;
$font-card-header-s-line-height: 34px;
$font-mobile-header-1-font-size: 32px;
$font-mobile-header-1-line-height: 38px;
$font-mobile-header-2-font-size: 30px;
$font-mobile-header-2-line-height: 36px;
$font-mobile-header-3-font-size: 24px;
$font-mobile-header-3-line-height: 31px;
$font-mobile-header-4-font-size: 18px;
$font-mobile-header-4-line-height: 23px;
$font-mobile-card-header-l-font-size: 24px;
$font-mobile-card-header-l-line-height: 31px;
