//@import "slick-carousel/slick/slick";
@import "colors";
@import "fonts";
@import "helpers";
@import "breakpoints";
@import "mixins";

:root {
  --max-content-width: #{$desktop-max-content-width};
}

@include for-phone {
  :root {
    --max-content-width: #{$mobile-max-content-width};
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: $background;
}

.slick-arrow {
  display: none !important;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-slide > div:first-child{
  height: 100%;
}

.ReactModal__Body--open {
  overflow: hidden;
}

@include for-phone {
  .slick-dots {
    display: flex !important;
    justify-content: center;
    gap: 12px;
    margin-top: 40px;

    li {
      line-height: 12px;
      list-style: none;

      button {
        border: none;
        border-radius: 50%;
        background: $light-grey;
        width: 12px;
        height: 12px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

      }

      &.slick-active button{
        background: $yellow;
      }
    }
  }
}
