@import "src/styles/colors";
@import "src/styles/mixins";

.tabs {
  &__panel {
    display: flex;
    width: min-content;
    padding: 6px;
    border-radius: 12px;
    background: rgb(0 0 0 / 6%);
    gap: 4px;

    @include for-phone {
      width: 100%;
    }
  }

  &__tabButton {
    composes: text-s from "../typography/text.module.scss";
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    border-radius: 10px;
    background: transparent;
    color: rgb(0 0 0 / 85%);
    cursor: pointer;
    line-height: 24px;
    transition: all 0.15s ease;
    white-space: nowrap;

    @include for-phone {
      flex: 1;
      line-height: 20px;
    }

    input {
      position: absolute;
      width: 0;
      height: 0;
    }

    &:hover {
      background: rgb(0 0 0 / 6%);
    }
  }

  &__tabButton__active {
    background: $white;

    &:hover {
      background: white;
    }
  }
}
