@import "src/styles/mixins";

.vacancyListItem {
  display: flex;
  min-height: 138px;
  justify-content: space-between;
  padding: 28px 0;

  @include for-phone {
    min-height: auto;
    flex-direction: column;
    justify-content: initial;
    padding: 20px 16px;
    border-radius: 15px;
    margin: 12px 0;
    background: white;
    gap: 18px;
  }

  &__prefix,
  &__name {
    @include for-phone {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__description {
    @include for-phone {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__descriptionBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include for-phone {
      gap: 12px;
    }
  }

  &__detailsButton {
    composes: button from "../../shared/components/button/button.module.scss";
    composes: button--default from "../../shared/components/button/button.module.scss";
    display: flex;
    width: 285px;
    height: 60px;
    align-items: center;
    align-self: center;
    justify-content: center;

    @include for-phone {
      width: min-content;
      height: 40px;
      align-self: flex-start;
      padding: 9.5px 59px;
      font-size: 16px;
      justify-self: flex-start;
      line-height: 21px;
    }
  }
}
