@import "../../styles/colors";

.storiesCard {
  width: 488px;
  height: 100%;
  background: white;
  border-radius: 15px;

  .video {
    position: relative;
    width: 100%;
    height: 232px;
    border-radius: 15px;
    overflow: hidden;

    .backgroundImage {
      transition: all .3s;

    }

    &:hover {
      .backgroundImage {
         transform: scale(1.2);
      }
    }

    video {width: 0;height: 0; position: absolute}

    &:hover {
      background-size: 110%;
    }

    &.playPressed {
      .backgroundImage {
        display: none;
      }

      .play {
        display: none;
      }

      video {
        width: 100%;
        height: 100%;
      }
    }

    .play {
      position: absolute;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 50%;
      top: 50%;
      cursor: pointer;
      border: none;
      transform: translate(-50%, -50%);
    }
  }

  .content {
    padding: 16px 16px 23px 16px;
  }

  .header {
    margin-bottom: 4px;
  }

  .position {
    color: $grey;
    margin-bottom: 16px;
  }
}
