@import "src/styles/colors";
@import "src/styles/mixins";

.storiesCard {
  width: 488px;
  height: 100%;
  border-radius: 15px;
  background: white;

  @include for-phone {
    width: calc(var(--max-content-width) - 40px);
  }

  .video {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 232px;
    border-radius: 15px;

    .backgroundImage {
      transition: all 0.3s;
    }

    &:hover {
      .backgroundImage {
        transform: scale(1.2);
      }
    }

    video { position: absolute; width: 0; height: 0; }

    &:hover {
      background-size: 110%;
    }

    &.playPressed {
      .backgroundImage {
        display: none;
      }

      .play {
        display: none;
      }

      video {
        width: 100%;
        height: 100%;
      }
    }

    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      width: 36px;
      height: 36px;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 50%;
      background: white;
      cursor: pointer;
      transform: translate(-50%, -50%);
    }
  }

  .content {
    padding: 16px;
  }

  .header {
    margin-bottom: 4px;

    @include for-phone {
      margin-bottom: 2px;
      font-size: 24px;
      line-height: 31px;
    }
  }

  .position {
    margin-bottom: 16px;
    color: $grey;

    @include for-phone {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
