@import "src/styles/mixins";

.requestSendSuccessfullModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 120px 0;
  width: 770px;
  display: grid;
  justify-items: center;

  @include for-phone {
    position: fixed;
    left: 0;
    top: 0;
    transform: none;
    width: max(100vw, 100%);
    min-height: max(100vh, 100%);
    padding: 0 20px;
    align-content: center;
  }



  &__title {
    margin-top: 20px;
    @include for-phone {
      margin-top: 40px;
    }
  }

  &__text {
    margin-top: 24px;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 285px;
    @include for-phone {
      width: 100%;
      margin-top: 120px;
    }
  }
}

.requestSendSuccessfullModalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
