@import 'styles/colors';

.responsibilitiesBlock {
  padding: 80px 0;
}

.header {
  width: 690px;
  margin-bottom: 80px;
}

.cardText {
  margin-top: 24px;
}

.incomeCard,
.changePeoplesLifeCard {
  position: relative;
  height: 473px;

  &__header {
    width: 356px;
  }

  &__text {
    width: 356px;
    color: $grey;
  }

  &__image {
    img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
