@import "src/styles/mixins";

.accordion {
  .item {
    .label {
      position: relative;
      display: flex;
      height: 138px;
      align-items: center;
      justify-content: space-between;
      padding: 28px 0;
      border-bottom: 2px solid #858585;

      @include for-phone {
        height: auto;
        padding: 11px 0;
        border-bottom: 1px solid #858585;
      }

      .crossIcon {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        transition: transform 0.3s, background 0.1s;

        @include for-phone {
          width: 32px;
          height: 32px;
        }

        &:hover {
          background: #151617;

          svg {
            fill: white;
          }
        }

        @include for-phone {
          svg {
            width: 32px;
            height: 32px;
          }

          &:hover {
            background: transparent;

            svg {
              fill: black;
            }
          }
        }
      }

      input {
        position: absolute;
        width: 0;
        height: 0;
      }
    }

    .content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
    }

    &:has(label input:checked) {
      .label {
        .crossIcon {
          transform: rotate(45deg);
        }
      }

      .content {
        max-height: 100vh;
        transition: max-height 0.3s ease-in-out;
      }
    }
  }
}
