@import "src/styles/mixins";

.roles {
  position: relative;
  display: grid;
  padding: 80px 0;
  gap: 20px;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;

  @include for-phone {
    padding: 32px 20px;
    grid-auto-flow: initial;
    grid-template-columns: 1fr;
  }

  &__header {
    height: 54px;

    @include for-phone {
      height: auto;
    }
  }

  &__tabs {
    display: grid;
    align-self: center;
    gap: 40px;

    @include for-phone {
      gap: 24px;
      grid-row-start: 1;
    }
  }

  &__arrow {
    position: absolute;
    top: 199px;
    right: 1px;

    @include for-phone {
      display: none;
    }
  }
}
