@import "src/styles/mixins";

.rolesImage {
  position: relative;
  height: 573px;

  @include for-phone {
    margin-top: 20px;
    height: auto;
  }


  .bubble1, .bubble2, .bubble3 {
    position: absolute;
  }

  .reviewer {
    &.bubble1 {
      @include bubbleAnimate(33px, 0px, 166px, 219px);
    }

    &.bubble2 {
      @include bubbleAnimate(294px, 257px, 83px, 48px);
    }

    &.bubble3 {
      @include bubbleAnimate(426px, 475px, 503px, 458px);
    }
  }

  .mentor {
    &.bubble1 {
      @include bubbleAnimate(36px, 0px, 145px, 219px);
    }

    &.bubble2 {
      @include bubbleAnimate(292px, 257px, 75px, 48px);
    }

    &.bubble3 {
      @include bubbleAnimate(449px, 475px, 471px, 458px);
    }
  }
}
