@import "src/styles/mixins";

.roleTabContent {
  margin-top: 80px;

  @include for-phone {
    margin-top: 40px;
  }

  &__grid {
    @include for-phone {
      gap: 16px;
    }
  }

  &__card {
    display: grid;
    min-height: 134px;
    align-items: center;
    justify-content: center;
    padding: 20px 32px;

    @include for-phone {
      min-height: auto;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 24px 16px;
    }
  }
}
