@import "src/styles/colors";
@import "src/styles/mixins";

.nessiCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 48px;
  padding: 32px 0;

  @include for-phone {
    padding: 166px 41px 32px 41px;
    margin-top: 40px;
  }

  &__header {
    width: 884px;
    @include for-phone {
      width: auto;
      text-align: initial;
    }
  }

  &__nessiLeft, &__nessiRight {
    height: 192px;
    bottom: 0;

    svg {
      transition: fill .1s;
    }
  }

  &__nessiLeft {
    position: absolute;
    left: 0;

    @include for-phone {
      top: 3px;
      left: -20px;
    }
  }

  &__nessiRight {
    position: absolute;
    right: 0;
    transform: scaleX(-1);

    @include for-phone {
      transform: none;
      right: -20px;
      top: 3px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    width: 285px;

    @include for-phone {
      width: 100%;
      font-size: 16px;
    }
  }

  &:hover {
    .nessiCard__nessiLeft, .nessiCard__nessiRight {
      svg {
        fill: $yellow;

        @include for-phone {
          fill: none;
        }
      }
    }
  }
}
