@import "src/styles/colors";
@import "src/styles/mixins";

.nessiCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  border-radius: 15px;
  background: white;
  gap: 48px;
  text-align: center;

  @include for-phone {
    padding: 32px 20px;
    background: transparent;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 183px;
    height: 192px;
    background: url("../../shared/assets/images/steps-nessi.svg") center no-repeat;
    content: "";

    @include for-phone {
      top: 0;
      bottom: initial;
      left: -20px;
      width: 188px;
      height: 350px;
      background: url("../../shared/assets/images/nessi-mobile-left.svg");
    }
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 183px;
    height: 192px;
    background: url("../../shared/assets/images/steps-nessi.svg") center no-repeat;
    content: "";
    transform: scaleX(-1);

    @include for-phone {
      top: 3px;
      right: -20px;
      bottom: initial;
      width: 180px;
      height: 147px;
      background: url("../../shared/assets/images/nessi-mobile-right.svg");
      transform: none;
    }
  }

  @include for-phone {
    height: 430px;
    padding: 166px 41px 32px;
    margin-top: 40px;
  }

  &__header {
    width: 884px;

    @include for-phone {
      width: auto;
      text-align: initial;
    }
  }

  &__button {
    display: flex;
    width: 285px;
    justify-content: center;

    @include for-phone {
      width: 100%;
      font-size: 16px;
    }
  }
}
