@import "src/styles/colors";
@import "src/styles/mixins";

.stepCard {
  width: 285px;
  padding: 12px 0 0;
  border-radius: 15px;
  background: white;

  @include for-phone {
    width: min-content;
    margin-right: 10px;
    margin-left: 10px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 24px 16px 32px;
    gap: 24px;

    @include for-phone {
      padding: 28px 16px 32px;
      gap: 12px;
    }
  }

  &__descriptionText {
    color: $grey;
  }
}
