// Basic
$black: #000000;
$grey: #858585;
$background: #F7F7F8;
$white: #ffffff;

// Additional
$yellow: #FCD559;
$light-blue: #AACCF1;
$blue: #5686E3;
$orange: #EC722D;

// System
$light-grey: #EAEAEA;
$red: #ED4141;
