@import "src/styles/colors";
@import "src/styles/mixins";

.invitationBlock {
  height: 700px;
  display: grid;
  grid-template-columns: 692px 1fr;
  grid-template-rows: max-content max-content 60px;
  justify-content: space-between;
  padding: 150px 0;

  @include for-phone {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .imageWrapper {
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
  }

  .title {
    max-width: 692px;
  }

  .text {
    width: 488px;
    margin-top: 40px;
    margin-bottom: 80px;
    color: $grey;
    grid-row-start: 2;
  }

  .button {
    grid-row-start: 3;
  }
}

