@import "src/styles/colors";
@import "src/styles/mixins";

.invitationBlock {
  display: grid;
  height: 700px;
  justify-content: space-between;
  padding: 150px 0;
  grid-template-columns: 692px 1fr;
  grid-template-rows: max-content;

  @include for-phone {
    height: auto;
    padding: 0 20px;
    grid-template-columns: 1fr;
  }

  .title {
    max-width: 692px;

    @include for-phone {
      max-width: var(--max-content-width);
    }
  }

  .text {
    max-width: 488px;
    margin-top: 40px;
    margin-bottom: 80px;
    color: $grey;
    grid-row-start: 2;

    @include for-phone {
      max-width: var(--max-content-width);
      margin-top: 24px;
      margin-bottom: 24px;
      grid-row-start: auto;
    }
  }

  .button {
    grid-row-start: 3;

    @include for-phone {
      display: flex;
      width: 100%;
      justify-content: center;
      margin: 45px auto 32px;
      grid-row-start: auto;
    }
  }

  .imageWrapper {
    position: relative;
    grid-row: 1 / 4;

    @include for-phone {
      grid-row: auto / auto;
    }
  }
}
