@import "src/styles/colors";

.button {
  display: flex;
  width: max-content;
  align-items: center;
  border: none;
  border-radius: 120px;
  cursor: pointer;
  font-family: "YS Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  transition: background 0.15s, color 0.15ms;
}

.button--medium {
  padding: 18.5px 38px;
}

.button--small {
  padding: 8.5px 50px;
}

.button--default {
  background: #000;
  color: white;

  &:disabled {
    background: $light-grey;
    color: $grey;
    cursor: not-allowed;
  }

  &:not(.disabledHover, :disabled):hover {
    background: $yellow;
    color: black;
  }
}

.button--outline {
  border: 2px solid #000;
}

.button--icon {
  width: min-content;
  height: min-content;
  padding: 0;
  background: transparent;
}
