@import "src/styles/colors";

.button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 120px;
  transition: background .15s, color .15ms;
  cursor: pointer;
  width: max-content;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.button--medium {
  padding: 18.5px 38px;
}

.button--small {
  padding: 8.5px 50px;
}

.button--default {
  color: white;
  background: #000;

  &:disabled {
    color: $grey;
    background: $light-grey;
    cursor: not-allowed;
  }

  &:not(.disabledHover):not(:disabled):hover {
    background: $yellow;
    color: black;
  }
}

.button--outline {
  border: 2px solid #000000;
}

.button--icon {
  padding: 0;
  width: min-content;
  height: min-content;
  background: transparent;
}
